@{
    ViewData["Title"] = "Home";
}

<section class="mb-2">

    <form asp-action="Filtrar">
        <input type="text" placeholder="Busqueda" name="busqueda"/>
        <input type="submit" value="Buscar" class="btn-success" />
    </form>
</section>

<table class="table table-dark">
    <thead>
        <tr>
            <th>ID</th>
            <th>Siglas</th>
            <th>Nombre</th>
            <th>Creditos</th>
            <th>Cupos</th>
            <th>Accion</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CursoViewModel c in ViewBag.lista) {
        <tr>
            <td>@c.id</td>
            <td>@c.siglas</td>
            <td>@c.nombre</td>
            <td>@c.creditos</td>
            <td>@c.cupos</td>
            <td>
                <button type="button" class="btn btn-warning" onclick="getDataById(@c.id)">Editar</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" onclick="eliminarCurso(@c.id)">Eliminar</button>
            </td>
        </tr>
        }
    </tbody>
</table>

<section class="">
    <form asp-action="Insertar" class="bg-secondary shadow-lg p-2 rounded">
        <div class="form-group">
            <label for="siglas" class="font-weight-bold">Siglas del curso</label>
            <input type="text" placeholder="Siglas" name="siglas" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="nombre" class="font-weight-bold">Nombre del curso</label>
            <input type="text" placeholder="Nombre" name="nombre" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="creditos" class="font-weight-bold">Cantidad de creditos</label>
            <input type="number" placeholder="Creditos" name="creditos" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="cupos" class="font-weight-bold">Cantidad de cupos</label>
            <input type="number" placeholder="Cupos" name="cupos" class="form-control" required />
        </div>
        <input type="submit" value="Registrar" class="btn-success" />
    </form>
    <section style="text-align:center">
        <span class="text-danger font-weight-bold">@ViewBag.Message</span>
    </section>
</section>


<!--Modal para editar-->
<div class="modal" tabindex="-1" id="modalEdit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Editar curso seleccionado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>ID: <span id="id_curso"></span></p>
                <label for="siglas_curso" class="font-weight-bold">Siglas del curso</label>
                <input type="text" placeholder="Siglas" id="siglas_curso" name="siglas_curso" class="form-control" required />

                <label for="nombre_curso" class="font-weight-bold">Nombre del curso</label>
                <input type="text" placeholder="Nombre" id="nombre_curso" name="nombre_curso" class="form-control" required />

                <label for="creditos_curso" class="font-weight-bold">Cantidad de creditos</label>
                <input type="number" placeholder="Creditos" id="creditos_curso" name="creditos_curso" class="form-control" required />

                <label for="cupos_curso" class="font-weight-bold">Cantidad de cupos</label>
                <input type="number" placeholder="Cupos" id="cupos_curso" name="cupos_curso" class="form-control" required />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="editarCurso()"> Editar </button>
            </div>
        </div>
    </div>
</div>